.back-btn {
    position: fixed;
    top: 5rem;
    left: 5rem;
    @media (max-width: 450px) {
        & {
            top: 2.5rem;
            left: 2.5rem;
        }
    }

    a {
        outline: none;
    }

    i {
        @include icon-animated;
        font-size: size(xl) + 3rem;

        @media (max-width: 450px) {
            & {
                font-size: size(xl) + 1rem;
            }
        }
    }
}